/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */

html {
    font-family: "Whitney", sans-serif;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

p {
    font-size: 1.1em;
    line-height: 1.5em;
}

h2 {
    font-size: 2.2em;
    font-weight: 600;
    margin-bottom: .7em;
}

.float_l {
    float: left;
}

.float_r {
    float: right;
}


/* NAVIGATION */

.nav_container {
    background-color: #3161E0;
    width: 100%;
    height: 60px;
}

.nav_section {
    width: 70%;
    height: 100%;
    margin: 0 auto;
}

.col {
    height: 100%;
    float: left;

}

/* Logo */

.col_logo {
    width: 15%;
    line-height: 60px;
    vertical-align: middle;
}

#logo {
    line-height: 60px;
    vertical-align: middle;
    height: 1.8em;
}

/* Menu */

.col_menu {
    width: 75%;
}

ul {
    list-style: none;
    text-align: center;
    line-height: 60px;
}

.col_menu li {
    display: inline-block;
    margin: 0 .5em;
}

.col_menu li a {
    color: white;
    text-decoration: none;
    font-size: 80%;
    font-weight: bold;
    padding: .5em;
}

/* Login */

.col_login {
    width: 10%;
}

.col_login {
    color: #24282B;
    font-size: 70%;
    line-height: 60px;
    text-align: right;
}

.col_login a {
    color: inherit;
    font-size: inherit;
    font-weight: bold;
    text-decoration: none;
    padding: .8em 1em;
    background-color: white;
    border-radius: 2em;
}

.col_login a:hover {
    background-color: #8EA1E1;
}


/* JUMBOTRON */

.jumbotron {
    background-image: url(../img/jumbo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* Jumbo Text */

.jumbo_text {
    color: white;
    text-align: center;
    width: 48%;
    padding-top: 5em;
    margin: 0 auto;
    padding-bottom: 1em;
}

.jumbo_text h1 {
    font-weight: bold;
    font-size: 2.5em;
    margin-bottom: .8em
}


/* Jumbo Buttons */

.buttons {
    text-align: center;
    padding-top: 2em;
    padding-bottom: 8em;
}

.buttons a {
    text-decoration: none;
    margin: 2em .8em;
    padding: .8em 1.3em;
    border-radius: 1.5em;
}

.buttons :first-child {
    color: #23272A;
    background-color: white;
}

.buttons :last-child {
    color: white;
    background-color: #23272A;
}

.buttons a:hover {
    background-color: #8EA1E1;
}


/* MAIN */

.sec_container {
    width: 70%;
    margin: 0 auto;
    padding: 5em 0;
}

.sec_container .img_container {
    width: 70%;
}

.sec_container .img_container img {
    width: 85%;
}

.sec_container .sec_text {
    width: 30%;
    color: #23272A;
    margin-top: 2em;
}

.gray {
    background-color: #F6F6F6;
}


/* LAST SECTION */

.last_section {
    background-color: #F6F6F6;
    padding: 4em 0;
}

.last_container {
    width: 70%;
    margin: 0 auto;
}

.last_text {
    width: 70%;
    text-align: center;
    margin: 0 auto;
}

.last_img_container {
    text-align: center;
}

.stars {
    width: 20em;
    height: 3em;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    padding: 1em;
    background-image: url(../img/stars.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.button {
text-align: center;
margin: 1.5em;
}

.mac_blu {
    background-color: #8EA1E1;
    color: white;
    text-decoration: none;
    margin: 2em .8em;
    padding: .8em 1.3em;
    border-radius: 1.5em;
}

.mac_blu:hover {
    background-color: #3161E0;
}

/* ONDE */

.wave {
    color: #F6F6F6;
}

.wave_down {
    transform: rotate(180deg);
}

svg {
    display: block;
}


/* FOOTER */

footer {
    /* background-color: #23272A; */
    background-color: plum;
}

.footer_container {
    width: 70%;
    margin: 0 auto;
}

.discord {
    width: 32%;
}

/* List */

.list {
    width: 17%;
}